
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* color: #661b00; */
    
}
/* for styling the navbar */
header{
    position: relative;
    background-color: #661b00;
    padding: 0 2rem;
    position: sticky ;
    top: 0;
    z-index: 2;
    

}
nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;

}
nav .link{
    display: flex;
    gap: 0.5rem;

}
nav .link li{
    list-style: none;
    padding: 0 20px;

}
nav .link a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
nav .link a:hover{
    color: orangered;
}
nav .toggleBTN{
    color: white;
    display: none;
    cursor: pointer;
}

/* Drop down menu styling */

.dropDownMenu{
    display: none;
    height: 0;
    position:absolute ;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: #661b00;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#toggleOn{
    display: none;
}
.dropDownMenu.display{
    height: auto;  
}
.dropDownMenu li{
    padding: 0.7rem;
    display: flex;
    align-items:center ;
    justify-content:start ;
}
.dropDownMenu a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 30px 30px;
}
.liButton button{
    background-color: #ffffff;
    margin: 20px 0px 10px 10px ;
}
.liButton li button{
    display: flex;
}
.stockImg img{
    width: 60%;
}
.container{
    padding: 40px;
    text-align: left;
    color: #000000;
}
.container h1{
    padding-bottom: 20px;
}
button{
    margin-top: 30px;
    padding: 12px 30px;
    border: 1px solid #661b00;
    border-radius: 5px;
    background-color: transparent;
    color: #661b00;
    transition: 1s;
}
button:hover{
    transition: 1s;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #661b00;
    color: #ffffff;
}

.MainContainer{
    background-image: url(bg15c.svg);
    color: #661b00;
}


/* Styling of the Our services section */

.ourServicesContainer{
    padding: 40px ;
    
}
.ourServicesCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 50px 0 0px 0 ;
}
.OS-Card{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;

}
.ourServicesCardContent{
    line-height: 1.3;
}

/* Styling of the Our achievement section */

.achievement{
    background-color: #661b00;
    color: #ffffff;
    padding: 40px;
    border-top-right-radius: 100px;
}

.achievement:before{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -140px;
    content: '';
    z-index: 1;
    left: 0;
    background-color: #ffffff;
    border-bottom-left-radius: 100px;
}
.curveEdge{
    width: 100px;
    height: 100px;
    background-color: #661b00;
}

.achievement h2{
    color: #f9fbfd;
    position: relative;
    font-size: 50px;
    font-weight: 5000;
    margin: 0;
    display: block;
}

.achievement p{    
    padding-top: 10px;
}
.achievementCardContainer{
    margin: 10px;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
}
.achievementCard{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
.achivementCard2{
    background-color: #ffffff;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    width:fit-content;
    display: flexbox;
    flex-wrap: wrap;
    justify-content:center;
    align-items:self-start;
    color: #661b00;

}
.achivementCard2B{
    margin: 10px;

}
/* Styling our Qualification */

.whyGosub{
    background-color: #661b00;
    padding: 40px;
    color: #ffffff;

}

.whyGosubCard{
    background-color: #ffffff;
    margin: 20px 0px;
    padding: 10px;
    width: fit-content;
    height: auto;
    color: #661b00;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;

}
/* Styling the testimony section */

.testimony{
    padding: 40px;
    display: flexbox ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
}
.testimonyCard{
    margin-top: 10px;
    width: fit-content;
    height: auto;
    box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 5px;

}

/* slide show CSS  */
    
    /* Slideshow container */
    .slideshow-container {
        position: relative;
        background: #ffffff;
      }
      
      /* Slides */
      .mySlides {
        display: none;
        padding: 40px;
        text-align: center;
      }
      
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #661b00;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
      }
      
      /* The dot/bullet/indicator container */
      .dot-container {
          text-align: center;
          padding: 20px;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #f26522;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      /* Add a background color to the active dot/circle */
      .active, .dot:hover {
        background-color: #661b00;
      }
      
      /* Add an italic font style to all quotes */
      q {font-style: italic;}
      
      /* Add a blue color to the author */
      .author {color: cornflowerblue;}
  

/* Styling the Partner Section of the page  */
        
@keyframes slide {

    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
.partner{
    overflow: hidden;
    padding: 60px;
    white-space: nowrap;
    position: relative;
}
.partner:before,
.partner:after{
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: '';
    z-index: 2;
}
.partner:before{
    left: 0;
    background-color: #ffffff;
}
.partner:after{
    right: 0;
    background-color: #ffffff;
}
.partner:hover .partnerSlide{
    animation-play-state: paused;
}
.partnerSlide{
    display: inline-block;
    animation: 35s slide infinite linear;

}
.partnerSlide img{
    height: 50px;
    margin: 0 40px;
}
.grayscale {
    filter: grayscale(100%);  
    transition: filter 0.5s ease;
}

    .grayscale:hover {
    filter: none;
}

/* Styling of the Submit Button */

.submitButton{
    padding: 15px;
    margin-top: 25px;
    border: 1px solid #661b00;
    border-radius: 5px;
    background-color: #fff;
    color: #661b00;
    

    
}
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid #661b00;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}



.footer{
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
}
.footer h4{
    color: #f26522;
    margin-top: 20px;
    margin-bottom: 5px;
    
}

.footer p{
    
    margin-left: 10px;
    margin-bottom: 5px;
    
}
a{
    text-decoration: none;
    color: #ffffff;
    
}

.happyCustomers{
    width: 100px;
    background-color: #f26522;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 700px){
        .cardContainer{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px;
        
    }
    .testimonyCard{
        margin-top: 10px;
        margin: 20px;
        width: 300px;
        height: 400px;
        box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.15);
        padding: 20px;
        border-radius: 5px;
    
    }
    .testimony{
        padding: 40px;
        margin: 10px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        
    }
    
}
/* for styling the navbar */
@media screen and (max-width:992px){
    nav .link,nav .toggleBTN{
        display: none;
    }
    nav .toggleBTN{
        display: block;
    }
    .dropDownMenu{
        display: block;
        
    }
    .partnerSlide img{
        height: 30px;
        margin: 0 20px;
    }
    .partner:before,
    .partner:after{
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        content: '';
        z-index: 1;
    }
}
@media screen and (max-width:575px){
    .dropDownMenu{
        left: 2rem;
        width: unset;
    }
}